@charset "UTF-8"

body {
     font-family: Arial,Helvetica,Sans-sarif;
}
a {
  color:blue;
  text-decoration:none;
  font-weight:bold;
}
a:visited {
  color:darkblue;
}
a:hover {
  color:black;
  text-decoration:underline;
}